.mtb-10 {
    margin: 10px 0px;
}
div.seatCharts-container {
    /*min-width: 700px;*/
}
div.seatCharts-cell {
    height: 16px;
    width: 16px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 13px;
    line-height: 16px;
    color: blue;
}
div.seatCharts-seat {
    background-color: green;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: default;
}
div.seatCharts-seat:focus {
    border: none;
}
/*
.seatCharts-seat:focus {
	outline: none;
}
*/

div.seatCharts-space {
    background-color: white;
}
div.seatCharts-row {
    height: 50px;
}

div.seatCharts-row:after {
    clear: both;
}

div.seatCharts-seat.selected {
    background-color: aqua;
}

div.seatCharts-seat.focused {
    background-color: #6db131;
}

div.seatCharts-seat.available {
    background-color: green;
}

div.seatCharts-seat.unavailable {
    background-color: red;
    cursor: not-allowed;
}

ul.seatCharts-legendList {
    list-style: none;
}
li.seatCharts-legendItem {
    margin-top: 10px;
    line-height: 2;
}

.front-indicator {
    margin: 5px 0px 45px 0px;

    text-align: center;
    padding: 3px;
}
/*.wrapper {
	width: 100%;
	text-align: center;
  	margin-top:20px;
}
.container {
	margin: 0 auto;
	width: 800px;
	text-align: left;
}*/
/*.booking-details {
	float: right;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 401px;
	width: 40%; 
	padding:20px;
}*/
.booking-details h2 {
    margin: 25px 0 20px 0;
    font-size: 17px;
}
.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 15px;
}
div.seatCharts-cell {
    color: #182c4e;
    height: 25px;
    width: 25px;
    line-height: 25px;
}
div.seatCharts-seat {
    color: #ffffff;
    cursor: pointer;
}
div.seatCharts-row {
    height: 35px;
}
div.seatCharts-seat.available {
    background-color: #b9dea0;
}
div.seatCharts-seat.available.first-class {
    background-color: #3a78c3;
}
div.seatCharts-seat.available.economys-class {
    background-color: red;
}
div.seatCharts-seat.available.economy-class {
    background-color: yellow;
}
div.seatCharts-seat.focused {
    background-color: #76b474;
}
div.seatCharts-seat.selected {
    background-color: #e6cac4;
}
div.seatCharts-seat.unavailable {
    background-color: #472b34;
}
div.seatCharts-container {
    width: auto;
    padding: 12px;
    float: left;
    padding-top: 18px;
    border: 5px solid #e5d7d7;
    border-radius: 15px;
}
div.seatCharts-legend {
    padding-left: 0px;
}
ul.seatCharts-legendList {
    padding-left: 0px;
}
span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
}

#selected-seats {
    /* max-height: 120px;
	overflow-y: scroll;
	overflow-x: none; */
    width: 315px;
    margin-top: 10px;
}
#selected-seats > li {
    position: relative;
    margin: 5px 0px 2px 0px;
    background: #efefef;
    padding: 3px;
}
div.seatCharts-seat.available.a-class {
    background-color: #3a78c3;
}
div.seatCharts-seat.available.b-class {
    background-color: #b9dea0;
}
div.seatCharts-seat.available.c-class {
    background-color: darksalmon;
}
div.seatCharts-seat.available.d-class {
    background-color: green;
}
div.seatCharts-seat.available.e-class {
    background-color: darkolivegreen;
}
div.seatCharts-seat.available.f-class {
    background-color: orange;
}
div.seatCharts-seat.available.g-class {
    background-color: violet;
}
div.seatCharts-seat.available.h-class {
    background-color: plum;
}
div.seatCharts-seat.available.i-class {
    background-color: tan;
}
div.seatCharts-seat.available.j-class {
    background-color: skyblue;
}
div#seat_layout {
    width: 100%;
}
a.cancel-cart-item {
    position: absolute;
    right: 5px;
}
div#seat_layout_left {
    /* width: 55%; */
    float: left;
    border-right: 1px dotted #adadad;
    margin-left: 80px;
}

.checkout-button {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}
.booking-details .checkout-button {
    border: 0px;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 15px;
    color: #fff;
}
.booking-details #selected-seats li {
    list-style-type: none;
}

#legend .seatCharts-legendList li span {
    font-size: 15px;
    color: #212121;
}
.booking-details .total {
    font-size: 15px;
    color: #212121;
}

.booking-details .bp_text,
.booking-details .dp_text {
    font-weight: 600;
    font-size: 15px;
    color: #212121;
    line-height: 2.3;
}
.booking-details .am_text {
    font-weight: 600;
    font-size: 15px;
    color: #212121;
}
.booking-details .pl-8 {
    padding-left: 8px;
}
.booking-details select {
    position: relative;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    -webkit--webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
}
.booking-details span.fa {
    position: absolute;
    top: 36%;
    transform: translate(-36%, -10%);
    right: 8%;
    color: #212121;
}
.booking-details span.amenities_tag {
    background: #e0e0e0;
    padding: 6px 10px;
    border-radius: 5px;
    border: 0px;
    margin: 0px 10px 0px 0px;
    color: #888;
}
.pi_table {
    width: 100%;
    margin-bottom: 20px;
}
.passenger_info .pi_table tr:nth-child(odd) {
    background-color: #fff !important;
}
.passenger_info .pi_table tr:nth-child(even) {
    background-color: #eee !important;
}
.passenger_info .pi_table th {
    background-color: #7c7bad;
    color: white;
    text-align: center;
}
.passenger_info .pi_table th,
.passenger_info .pi_table td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}
.passenger_info .pi_table,
.passenger_info .pi_table th,
.passenger_info .pi_table td {
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

.front-indicator .heading_title h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}
.front-indicator .heading_title h3:before {
    position: absolute;
    content: "";
    background: #7c7bad;
    width: 3%;
    height: 2px;
    bottom: -22%;
    left: 50%;
    transform: translatex(-50%);
}
.front-indicator .heading_title h3:after {
    position: absolute;
    content: "";
    background: #7c7bad;
    width: 8%;
    height: 2px;
    bottom: -7%;
    left: 50%;
    transform: translatex(-50%);
}
.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0px;
}
button:focus {
    outline: 0px dotted;
    outline: 0px;
}
.passenger_info {
    overflow-x: auto;
}
.passenger_info .pi_table input {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    color: #212121;
}

.passenger_info .pi_table select {
    position: relative;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    -webkit--webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
}
@media only screen and (max-width: 768px) and (max-width: 577px) {
    div#seat_layout_left {
        float: left;
        border-right: 1px dotted #adadad;
        margin-left: 100px;
    }
    .passenger_info {
        overflow-x: auto;
    }
}
@media only screen and (max-width: 576px) {
    div#seat_layout_left {
        float: left;
        border-right: 1px dotted #adadad;
        margin-left: 0px;
    }
    .modal-body {
        padding: 16px 0px;
    }
    .o_technical_modal {
        padding-left: 0px !important;
    }
    .passenger_info {
        overflow-x: auto;
    }
}
